/*VARIABLES*/
:root {
    --pink: #F24B59;
    --gold: #F2C46D;
    --orange: #F25C05;
    --peach: #F29979;
    --black: #0D0D0D;

    --slightly-transparent-dark-grey: rgba(22, 22, 24, 0.8);
    --slightly-more-transparent-dark-grey: rgba(22, 22, 24, 0.7);
    --dark-grey: rgb(22, 22, 24);
    --somewhat-light-grey: rgb(52, 58, 64);
    --somewhat-lighter-grey: rgb(96, 104, 112);
    --somewhat-more-lighter-grey: rgb(155, 158, 171);
}

/*FONTS*/
@font-face {
    font-family: 'Hack Bold';
    src: url('../webfonts/Hack-Bold.ttf');
}

@font-face {
    font-family: 'Hack Bold';
    src: url('../webfonts/Hack-Regular.ttf');
}

h1, h2, h3, h4, h5 {
    font-family: "Hack Bold", monospace;
    color: var(--pink);
}

h1, .text-gold {
    color: var(--gold);
}

.timeline-event, .timeline-time, .nav-link {
    font-family: "Hack", monospace;
    font-size: 1rem !important;
}

.btn-gold {
    color: var(--somewhat-lighter-grey);
    background-color: var(--gold);
}

.btn-gold:hover {
    color: var(--somewhat-lighter-grey);
    background-color: var(--peach);
}

.btn-outline-gold {
    border-color: var(--gold);
    color: var(--gold);
}

.btn-outline-gold:hover {
    border-color: var(--peach);
    color: var(--peach)!important;
}

.link-peach {
    color: var(--peach);
}

img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}


/*GLOBAL*/
html {
    scroll-behavior: smooth;
    max-width: 100%;
}

html, body {
    height: 100%;
}

/*NAVBAR*/
.nav-link {
    color: var(--peach)
}

.navbar {
    transition: background-color 200ms linear;
}

.navbar-nav {
    background-color: var(--slightly-transparent-dark-grey);
    transition: background-color 200ms linear;
}

.navbar-nav.scrolled, .navbar.scrolled {
    background-color: var(--black);
    transition: background-color 200ms linear;
}

a:hover, a.text-light:hover {
    color: var(--somewhat-lighter-grey) !important;
}

@media (min-width: 750px) {
    .navbar-brand {
        text-align: center !important;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

/*BODY*/
body {
    background-image: url("../../img/blurredbackground.png");
    background-size: contain;
    background-color: var(--dark-grey) !important;
    max-width: 100%;
    overflow-x: hidden;
}

h2 {
    background-color: var(--slightly-transparent-dark-grey);
    box-shadow: 0px 0px 4em 2em var(--dark-grey);
}

.lead {
    font-weight: 400;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/*FEATURETTES - IMAGE DISPLAY*/
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.featurette {
    background-color: var(--slightly-transparent-dark-grey);
    box-shadow: 0px 0px 4em 1em var(--dark-grey);
}

@media (min-width: 40em) {
    .featurette-heading {
        /*font-size: 50px;*/
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 2rem;
    }
}

/*CARDS*/
.card-body, .card {
    background-color: var(--slightly-more-transparent-dark-grey);
}

.slight-border {
    border-width: 2px;
    border-style: solid;
}

/*TIMELINE*/
ul.timeline {
    list-style-type: none;
    position: relative;
    background-color: var(--slightly-transparent-dark-grey);
    box-shadow: 0px 0px 5em 2em var(--dark-grey);
}

ul.timeline > li {
    margin: 1.2em 0;
    padding-left: 6em;
}

ul.timeline > li > .bullet {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 0em;
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.2em;
    z-index: 400;
}

ul.timeline > li > .branch-study {
    left: 2em;
    background: var(--somewhat-more-lighter-grey);
}

ul.timeline > li > .branch-first-job {
    left: 4em;
    background: var(--somewhat-lighter-grey);
}

ul.timeline > li > .branch-second-job {
    left: 6em;
    background: var(--somewhat-light-grey);
}


.timeline .timeline-event {
    color: var(--peach);
}

.timeline p {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.timeline .timeline-time {
    color: var(--gold);
}

.timeline .connecting-line, svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.timeline .connecting-line, svg .line, line {
    display: block;
    stroke-width: 3px;
    stroke: rgb(255, 255, 255);
}

.timeline > li > .connecting-line > .line, .branch-study {
    stroke: var(--somewhat-more-lighter-grey) !important;
}

.timeline > li > .connecting-line > .line, .branch-first-job {
    stroke: var(--somewhat-lighter-grey) !important;
}

.timeline > li > .connecting-line > .line, .branch-second-job {
    stroke: var(--somewhat-light-grey) !important;
}

/*FOOTER*/
footer {
    background: var(--black);
}


/*JUMBOTRON / IMPRESSUM*/
.jumbotron {
    background-color: var(--slightly-transparent-dark-grey);
    box-shadow: 0px 0px 4em 1em var(--dark-grey);
}

