/*VARIABLES*/
:root {
    --slightly-transparent-dark-grey: rgba(22, 22, 24, 0.8);
    --slightly-more-transparent-dark-grey: rgba(22, 22, 24, 0.7);
    --dark-grey: rgb(22, 22, 24);
    --somewhat-light-grey: rgb(52, 58, 64);
    --somewhat-lighter-grey: rgb(96, 104, 112);
}

/*GLOBAL*/
html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

main {
    position: relative;
}

/*NAVBAR*/
.nav-link {
    color: white;
    padding: .5rem 0.6rem;
}

.navbar {
    transition: background-color 200ms linear;
    padding: 0.6em 0.5em;
}

.navbar-nav {
    background-color: var(--slightly-transparent-dark-grey);
    transition: background-color 200ms linear;
}

.navbar-nav.scrolled, .navbar.scrolled {
    background-color: var(--somewhat-light-grey);
    transition: background-color 200ms linear;
}

a:hover, a.text-light:hover {
    color: var(--somewhat-lighter-grey) !important;
}

@media (min-width: 750px) {
    .navbar-brand {
        text-align: center !important;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

/*BODY*/
body {
    background-image: url("../../img/blurredbackground.png");
    background-size: contain;
    background-color: var(--dark-grey) !important;
    max-width: 100%;
    overflow-x: hidden;
}

h2 {
    background-color: var(--slightly-transparent-dark-grey);
    box-shadow: 0px 0px 4em 2em var(--dark-grey);
}

.lead {
    font-weight: 400;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/*FEATURETTES - IMAGE DISPLAY*/
.featurette-divider {
    visibility: hidden;
    margin: 4rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.featurette {
    background-color: var(--slightly-transparent-dark-grey);
    box-shadow: 0px 0px 4em 1em var(--dark-grey);
}

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 2rem;
    }
}

/*CARDS*/
.card-body {
    background-color: var(--slightly-more-transparent-dark-grey);
}

.card-body-text {
    height: 14ex;
    font-size: 2ex;
}

.card {
    background-color: var(--slightly-more-transparent-dark-grey);
}

.slight-border {
    border-top-style: solid;
    border-top-width: 2px;
    border-right-width: 2px;
    border-right-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-left-width: 2px;
    border-left-style: solid;
}


.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*TIMELINE*/
ul.timeline {
    list-style-type: none;
    position: relative;
    background-color: var(--slightly-transparent-dark-grey);
    box-shadow: 0px 0px 5em 2em var(--dark-grey);
}

ul.timeline:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    top: 0.3em;
    left: 1.8em;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 1.2em 0;
    padding-left: 1.2em;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 0.2em solid;
    left: 1.2em;
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.2em;
    z-index: 400;
}

.timeline .timeline-event {
    color: white;
}

.timeline p {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.timeline .timeline-time {
    color: var(--somewhat-lighter-grey);
}

/*FOOTER*/
footer {
    background: var(--somewhat-light-grey);
}

footer .footer-icon {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

footer .top-buffer {
    padding-top: 0.3em;
    padding-bottom: 0.5em;
}

footer .link-padding {
    margin-top: 1em;
    margin-bottom: 1em;
}


/*JUMBOTRON / IMPRESSUM*/
.jumbotron {
    background-color: var(--slightly-transparent-dark-grey);
    box-shadow: 0px 0px 4em 1em var(--dark-grey);
    margin-bottom: 0;
}

.jumbotron h1 {
    margin-top: 1em;
    color: white;
}

.impressum a {
    color: white;
}

