/*NAVBAR*/
.nav-link{
    font-size: 0.8rem
}

/*BODY*/
body {
    background-color : #161618 !important;
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/*FEATURETTES - IMAGE DISPLAY*/
.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    color : light
}

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 3rem;
    }
}

/*FOOTER*/
.footericon {
    padding-left: 1em;
    padding-right: 1em;
}

.top-buffer {
    padding-top: 1em;
}

.padding-footer-right {
    padding-bottom: 1em;
    padding-right: 1.5em;
}



