/*GLOBAL*/
html {
    scroll-behavior: smooth;
}

/*NAVBAR*/
.nav-link {
    font-size: 0.8rem;
    color:white;
}

.navbar{
    transition: background-color 200ms linear;
}

.navbar.scrolled {
    background-color: #343A40 !important;
    transition: background-color 200ms linear;
}

.navbar-nav{
    background-color: rgba(22, 22, 24, 0.8);
    transition: background-color 200ms linear;
}

.navbar-nav.scrolled{
    background-color: #343A40 !important;
    transition: background-color 200ms linear;
}

a:hover, a.text-light:hover {
    color: #606870 !important;
}

/*BODY*/
body {
    background-image: url("../../img/blurredbackground.webp");
    background-size: cover;
    background-color: #161618 !important;
}

h2 {
    background-color: rgba(22, 22, 24, 0.8);
    box-shadow: 0px 0px 4em 2em rgb(22, 22, 24);
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/*FEATURETTES - IMAGE DISPLAY*/
.featurette-divider {
    margin: 4rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.featurette {
    background-color: rgba(22, 22, 24, 0.8);
    box-shadow: 0px 0px 4em 1em rgb(22, 22, 24);
}

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 3rem;
    }
}

/*CARDS*/
.card-body {
    background-color: rgba(22, 22, 24, 0.7);
}

.card {
    background-color: rgba(22, 22, 24, 0.7);
}

/*TIMELINE*/
ul.timeline {
    list-style-type: none;
    position: relative;
    background-color: rgba(22, 22, 24, 0.8);
    box-shadow: 0px 0px 5em 2em rgb(22, 22, 24);
}

ul.timeline:before {
    content: ' ';
    background: #f8f9fa;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 1.2em 0;
    padding-left: 1.2em;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 0.2em solid;
    left: 1.2em;
    width: 1.2em;
    height: 1.2em;
    z-index: 400;
}

.timeline b {
    color: #f8f9fa !important;
}

.timeline p {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

/*FOOTER*/
.footericon {
    padding-left: 1em;
    padding-right: 1em;
}

.top-buffer {
    padding-top: 1em;
    padding-bottom: 0.5em;
}


/*JUMBOTRON / IMPRESSUM*/
.jumbotron{
    background-color: #161618;
    margin-bottom: 0;
}

.jumbotron h1{
    margin-top: 1em;
}

